<!DOCTYPE html>
<html>
  <head>
    <title>Email Validator</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        padding: 10px;
        text-align: center
      }
      .card {
  width: 500px;
  padding: 20px;
  border: 3px solid black;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
  
}
.card-container {
  display: flex;
  
  justify-content: center; 
}
    </style>
  </head>
  <body>
    <div class="card-container">
  <div class="card">
    <h2>Find all the valid emails by using the extension</h2>
  </div>
</div>
    
  </body>
</html>



